@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background:#f6f8fa !important;
  color: #444;
}

.mantine-Modal-header, .mantine-Modal-body {
  background:#f6f8fa !important;
}